/* Flyer.css */
.container {
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
    margin-top: 5rem;
    
  }
  
  .image-slider {
    position: relative;
    width: 100%;
    max-width: 600px;
  }
  
  .slider-image {
    display: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slider-image.active {
    display: block;
  }
  
  .slider-image img {
   width: 100vh;
   height: 70vh !important;
   
  }
  